{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>About Us</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->

    <section>
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInRight">
                    <h2>We offer customers a wide range of <span class="id-color">commercial cars</span> and <span class="id-color">luxury cars</span> for any occasion.</h2>
                </div>
                <div class="col-lg-6 wow fadeInRight" data-wow-delay=".25s">
                    Welcome to our car rental service, where we offer an extensive selection of commercial and luxury vehicles to cater to any occasion. 
                    Whether you're looking for a practical solution for business purposes or seeking a touch of elegance for a special event, 
                    we have the perfect car to meet your needs.
                    Our fleet encompasses a wide range of commercial cars, designed to accommodate your professional requirements. 
                    From spacious vans for transporting goods to reliable trucks for logistical purposes,
                    we provide practical solutions that enable you to carry out your business operations smoothly and efficiently.
                </div>
            </div>
            <div class="spacer-double"></div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                        Hours of Work
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                        Clients Supported
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                        Awards Winning
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-sm-30">
                    <div class="de_count wow fadeInUp" data-bgcolor="#f5f5f5">
                        <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                        Years Experience
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section aria-label="section" class="jarallax text-light directors">
        <img src="{% static 'images/background/8.jpg' %}" class="jarallax-img" alt="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Board of Directors</h2>
                    <div class="spacer-20"></div>
                </div>

                <div class="col-lg-3 col-md-8 col-sm-6 mb30 mx-auto">
                    <div class="f-profile text-center">
                        <div class="fp-wrap f-invert">
                            <div class="fpw-overlay">
                                <div class="fpwo-wrap">
                                    <div class="fpwow-icons">
                                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>                                  
                            <div class="fpw-overlay-btm"></div>
                            <img src="{% static 'images/team/owner.jpeg' %}" class="fp-image img-fluid" alt="">
                        </div>

                        <h4>Shafiqul Alam Mirza</h4>
                        Owner of company
                    </div>
                </div>
                
                
                <div class="col-lg-6 col-md-8 col-sm-6 mb30 mx-auto">
                    <div class="de_testi type-2" style="background-size: 100%; background-repeat: no-repeat;">
                        <blockquote>
                            <h4>"Experience the Road Ahead, Rent with Ease."</h4>
                            <p>It is with great pleasure that I stand before you today as we gather to celebrate the thriving car rental industry and the incredible opportunities it presents. As owners, we are at the forefront of a dynamic and ever-evolving market, providing convenience and mobility to people around the world.

In an era where flexibility and efficiency are paramount, our industry plays a crucial role. We offer a solution to those seeking transportation for business trips, family vacations, or even local excursions. By providing a wide range of vehicles and personalized services, we empower individuals to explore new horizons and make lasting memories.
                            </p>
                            
                        </blockquote>
                    </div>
                </div>
                
               
               
                 
            </div>
        </div>
    </section>

    <section id="section-call-to-action" class="bg-color-2 pt60 pb60 text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <h2 class="s2">Call us for further information. Dhaka Car customer care is here to help you anytime.</h2>
                </div>

                <div class="col-lg-4 text-lg-center text-sm-center">
                    <div class="phone-num-big">
                        <i class="fa fa-phone"></i>
                        <span class="pnb-text">
                            Call Us Now
                        </span>
                        <span class="pnb-num">
                            +8801967-914140
                        </span>
                    </div>
                    <a href="#" class="btn-main">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

    
</div>
<!-- content close -->
{% endblock %}