{% extends 'main/layouts/base.html' %}
{% load static %}




{% block style %}

<style>
    .my-error-class {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }
</style>

{% endblock style %}


{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/Prado.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Login</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->


    <section aria-label="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 offset-md-4">
                    <div class="my-error-class">
                        {% if error %}
                        <p>{{ error }}</p>
                        {% endif %}

                        {% if form_error %}
                        <ul class="form_error">
                            {% for field, field_form_error in form_error.items %}
                            {% for form_error in field_form_error %}
                            <li>{{ field }}: {{ form_error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="spacer-10"></div>
                    <form name="contactForm" id='contact_form' class="form-border" method="post"
                        action="{% url 'login_user' %}">
                        {% csrf_token %}

                        <div class="row">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Enter Phone Number:</label>
                                        <input type='text' name='username' id='email' class="form-control">
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="row">


                                <div class="col-md-6">
                                    <div class="field-set">
                                        <label>Password:</label>
                                        <input type='text' name='password' id='password' class="form-control">
                                    </div>
                                </div>

                            </div> -->

                            <div class="row">

                                <div class="col-md-12">

                                    <div id='submit' class="pull-left">
                                        <input type='submit' id='send_message' value='Login Now'
                                            class="btn-main color-2">
                                    </div>


                                    <div class="clearfix"></div>

                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>




</div>
<!-- content close -->
{% endblock %}


{% block script %}


{% endblock script %}