{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/Prado.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Pick Up</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->





    <section id="section-car-details">

        {% for x in pickup %}
        <div class="container border-shadow-primary p-4 pb-2 mb-3">
            <div class="row g-5">
                <div class="col-lg-5 ">
                    <div class="car-img">
                        <img src="{{ x.image.url }}" alt="">
                    </div>

                </div>

                <div class="col-lg-3">
                    <h3>{{ x.package_type }}</h3>

                    <h4>Features</h4>
                    <ul class="ul-style-2">
                        <li> Load Capacity: {{ x.load_capacity }}</li>
                        <li>Form :{{ x.location_from }}</li>
                        <li>To :{{ x.location_to }}</li>

                    </ul>
                    <p>{{ x.description }}</p>


                </div>

                <div class="col-lg-3">
                    <div class="de-price text-center">
                        rent
                        <h3>{{ x.price }} ৳</h3>
                        <a class="btn-main" href="tel:+8801967-914140">Call Now</a>

                    </div>
                    <div class="spacer-30"></div>

                </div>
            </div>
        </div>
        {% endfor %}


    </section>



</div>
<!-- content close -->
{% endblock %}