{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>


  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cars Pricing</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->



  <section id="section-cars">
    <div class="container">
      <div class="row">


        <div class="col-lg-3">
          <div class="item_filter_group">
            <h4>Car Name</h4>
            <div class="de_form" id="carname_filter">
              <div class="de_checkbox">
                <input id="vehicle_type_1" name="vehicle_type_1" type="checkbox" value="Private Sedan Car">
                <label for="vehicle_type_1">Private Sedan Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_2" name="vehicle_type_2" type="checkbox" value="Premium Sedan Car">
                <label for="vehicle_type_2">Premium Sedan Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox" value="X Noah Car">
                <label for="vehicle_type_3">X Noah Car</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="Prado Car">
                <label for="vehicle_type_4">Prado Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_5" name="vehicle_type_5" type="checkbox" value="Noah x / Hybrid">
                <label for="vehicle_type_5">Noah x / Hybrid</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_6" name="vehicle_type_6" type="checkbox" value="Hiace Super GL">
                <label for="vehicle_type_6">Hiace Super GL</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_7" name="vehicle_type_7" type="checkbox" value="Grand Cavin">
                <label for="vehicle_type_7">Grand Cavin</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_8" name="vehicle_type_8" type="checkbox" value="Mini Coaster">
                <label for="vehicle_type_8">Mini Coaster</label>
              </div>



            </div>
            <br>

            <h4>Car Seats</h4>
            <div class="de_form" id="carseat_filter">

              {% for car_seat in car_seats %}

              <div class="de_checkbox">
                <input id="car_seat_{{ car_seat.Car_Seats }}" name="car_seat_{{ car_seat.Car_Seats }}" type="checkbox"
                  value="{{ car_seat.Car_Seats }}">
                <label for="car_seat_{{ car_seat.Car_Seats }}">{{ car_seat.Car_Seats }} seats</label>
              </div>

              {% endfor %}

              <!-- <div class="de_checkbox">
                <input id="car_seat_2" name="car_seat_2" type="checkbox" value="car_seat_4">
                <label for="car_seat_2">4 seats</label>
              </div> -->



            </div>
          </div>



          <div class="item_filter_group">

            <h4>Picup Van</h4>
            <div class="de_form" id="pickup_filter">
              <div class="de_checkbox">
                <input id="car_seat_1ton" name="car_seat_1ton" type="checkbox" value="Picup Van 1 ton">
                <label for="car_seat_1ton">1 ton</label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_2ton" name="car_seat_2ton" type="checkbox" value="Picup Van 2 ton">
                <label for="car_seat_2ton">2 ton </label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_3ton" name="car_seat_3ton" type="checkbox" value="Picup Van 3 ton">
                <label for="car_seat_3ton">3 ton </label>
              </div>
            </div>
          </div>



        </div>

        <div class="col-lg-9">
          <div class="row mb-2">

            <div class="col-lg-12">

              <form action="" id="filter_locations" class="form-border">

                <div class="row">

                  <div class="col-md-4">
                    <div class="field-set">
                      <label for="from_division">From Division:</label>
                      <select id="from_division" class="form-control">
                        <option value="">Select</option>
                      </select>

                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="field-set">

                      <label for="from_district">From District:</label>
                      <select id="from_district" class="form-control">
                        <option value="">Select </option>
                      </select>

                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="field-set">

                      <label for="from_upazila">From Upazila:</label>
                      <select id="from_upazila" class="form-control">
                        <option value="">Select </option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="field-set">
                      <label for="to_division">To Division:</label>
                      <select id="to_division" class="form-control">
                        <option value="">Select </option>
                      </select>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="field-set">

                      <label for="to_district">To District:</label>
                      <select id="to_district" class="form-control">
                        <option value="">Select </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="field-set">

                      <label for="to_upazila">To Upazila:</label>
                      <select id="to_upazila" class="form-control">
                        <option value="">Select </option>
                      </select>
                    </div>
                  </div>

                </div>





                <input type='button' id='filter_button' value='Submit' class="btn-main color-2 me-2">
                <input type="button" id="reset_filters" value="Reset" class="btn-main color-2">

              </form>

            </div>
          </div>
          <hr>


          <div class="row">

            <div class="col-lg-12">
              {% for x in pricing %}
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img src="{{ x.image.url }}" class="img-fluid" alt="">
                </div>


                <div class="d-info">
                  <div class="d-text">
                    <h5>{{ x.title }}</h5>
                    <h6>{{ x.caption }}</h6>
                    <h5>Name: <span id="carname">{{ x.car_name }}</span></h5>
                    <p>Car seats : <span id="carseat">{{ x.Car_Seats }}</span></p>
                    <p>Car Type : <span id="cartype">{{ x.car_type }}</span></p>
                    <p>To : <span id="to_upazila">{{ x.to_upazila }}</span></p>
                    <p>From : <span id="from_upazila">{{ x.from_upazila }}</span></p>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li>{{ x.description }}</li>
                      </ul>
                    </div>
                  </div>
                </div>


                <div class="d-price">
                  rent <span>{{ x.price }} ৳</span>
                  <a class="btn-main" href="tel:+8801967-914140">Call Now</a>
                </div>
                <div class="clearfix"></div>
              </div>
              {% endfor %}

            </div>





          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- content close -->
{% endblock %}



{% block script %}




<script>
  $(document).ready(function () {
    // When any checkbox inside 'div' with id 'carseat_filter', 'carname_filter', or 'pickup_filter' is clicked
    $('#carseat_filter input[type="checkbox"], #carname_filter input[type="checkbox"], #pickup_filter input[type="checkbox"]').on('click', function () {
      // Get the selected car seat values
      var selectedCarSeatValues = [];
      $('#carseat_filter input[type="checkbox"]:checked').each(function () {
        selectedCarSeatValues.push($(this).val().toLowerCase());
      });

      // Get the selected vehicle name values
      var selectedVehicleNameValues = [];
      $('#carname_filter input[type="checkbox"]:checked').each(function () {
        selectedVehicleNameValues.push($(this).val().toLowerCase());
      });

      // Get the selected car type values
      var selectedCarTypeValues = [];
      $('#pickup_filter input[type="checkbox"]:checked').each(function () {
        selectedCarTypeValues.push($(this).val().toLowerCase());
      });

      // Loop through each 'div.de-item-list' element
      $('div.de-item-list').each(function () {
        // Get the car seat value from the 'span' with id 'carseat'
        var carSeatValue = parseInt($(this).find('span#carseat').text());
        // Get the car name value from the 'span' with id 'carname'
        var carNameValue = $(this).find('span#carname').text().trim().toLowerCase();
        // Get the car type value from the 'span' with id 'cartype'
        var carTypeValue = $(this).find('span#cartype').text().trim().toLowerCase();

        var showItem = true;

        if (selectedCarTypeValues.length < 1 && selectedCarSeatValues.length > 0 && !selectedCarSeatValues.includes(String(carSeatValue))) {
          showItem = false;
        }

        if (selectedVehicleNameValues.length > 0 && !selectedVehicleNameValues.includes(carNameValue)) {
          showItem = false;
        }

        if (selectedCarTypeValues.length > 0 && !selectedCarTypeValues.includes(carTypeValue)) {
          showItem = false;
        }

        if (showItem) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script>


{% include 'main/pages/pricing_js.html' %}

<script>
  $(document).ready(function () {
    // When the form is submitted
    $('#filter_button').on('click', function (event) {
      event.preventDefault(); // Prevent the form from submitting normally

      applyFilters()

    });

    // When the reset button is clicked
    $('#reset_filters').on('click', function () {

      $('#filter_locations select').val('');
      applyFilters()

    });

    function applyFilters() {

      // Get the selected "To Upazila" and "From Upazila" values
      var toUpazilaId = $('#filter_locations #to_upazila').val();
      var fromUpazilaId = $('#filter_locations #from_upazila').val();

      console.log(toUpazilaId, fromUpazilaId)

      // Loop through each 'div.de-item-list' element
      $('div.de-item-list').each(function () {
        // Get the "To Upazila" and "From Upazila" IDs from the data attributes
        var itemToUpazilaId = $(this).find('span#to_upazila').text().trim(); //$(this).data('to-upazila');
        var itemFromUpazilaId = $(this).find('span#from_upazila').text().trim(); // $(this).data('from-upazila');

        console.log(itemToUpazilaId, itemFromUpazilaId)

        var showItem = true;

        if (toUpazilaId && toUpazilaId !== itemToUpazilaId) {
          showItem = false;
        }

        if (fromUpazilaId && fromUpazilaId !== itemFromUpazilaId) {
          showItem = false;
        }

        if (showItem) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }


  });
</script>


{% endblock script %}