{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>


  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cars Pricing</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-cars">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item_filter_group">
            <h4>Vehicle Name</h4>
            <div class="de_form">
              <div class="de_checkbox">
                <input id="vehicle_type_1" name="vehicle_type_1" type="checkbox" value="vehicle_type_1">
                <label for="vehicle_type_1">Private Sedan Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_2" name="vehicle_type_2" type="checkbox" value="vehicle_type_2">
                <label for="vehicle_type_2">Premium Sedan Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox" value="vehicle_type_3">
                <label for="vehicle_type_3">X Noah Car</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox" value="vehicle_type_3">
                <label for="vehicle_type_3">Prado Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Noah x / Hybrid</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Hiace Super GL</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Grand Cavin</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Mini Coaster</label>
              </div>
              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Picup Van</label>
              </div>
              

            </div>
          </div>

         

          <div class="item_filter_group">
            <h4>Car Seats</h4>
            <div class="de_form">

              <div class="de_checkbox">
                <input id="car_seat_2" name="car_seat_2" type="checkbox" value="car_seat_4">
                <label for="car_seat_2">4 seats</label>
              </div>

              <div class="de_checkbox">
                <input id="car_seat_3" name="car_seat_3" type="checkbox" value="car_seat_6">
                <label for="car_seat_3">6 seats</label>
              </div>

              <div class="de_checkbox">
                <input id="car_seat_10" name="car_seat_10" type="checkbox" value="car_seat_10">
                <label for="car_seat_10">10 seats</label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_12" name="car_seat_12" type="checkbox" value="car_seat_12">
                <label for="car_seat_12">12 seats</label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_14" name="car_seat_14" type="checkbox" value="car_seat_14">
                <label for="car_seat_14">14 seats</label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_28" name="car_seat_28" type="checkbox" value="car_seat_28">
                <label for="car_seat_28">28 seats</label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_32" name="car_seat_32" type="checkbox" value="car_seat_32">
                <label for="car_seat_32">32 seats</label>
              </div>

            </div>
            <h4>Picup Van</h4>
            <div class="de_form">
              <div class="de_checkbox">
                <input id="car_seat_1ton" name="car_seat_1ton" type="checkbox" value="car_seat_1ton">
                <label for="car_seat_1ton">1 ton </label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_2ton" name="car_seat_2ton" type="checkbox" value="car_seat_2ton">
                <label for="car_seat_2ton">2 ton </label>
              </div>
              <div class="de_checkbox">
                <input id="car_seat_3ton" name="car_seat_3ton" type="checkbox" value="car_seat_3ton">
                <label for="car_seat_3ton">3 ton </label>
              </div>
            </div>
          </div>

          

        </div>

        <div class="col-lg-9">
          <div class="row">

            <div class="col-lg-12">
              {% for x in pricing %}
                <div class="de-item-list mb30">
                  <div class="d-img">
                    <img src="{{ x.image.url }}" class="img-fluid" alt="">
                  </div>
                    
                    
                    <div class="d-info">
                      <div class="d-text">
                        <h5>{{ x.title }}</h5>
                        <h6>{{ x.caption }}</h6>
                        <h5>Name:{{ x.car_name }}</h5>
                        <div class="d-atr-group">
                          <ul class="d-atr">
                            <li>{{ x.description }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                      
                  <div class="d-price">
                    rent <span>{{ x.price }} ৳</span>
                    <a class="btn-main" href="tell:+8801967-914140">Call Now</a>
                  </div>
                  <div class="clearfix"></div>
                </div> 
              {% endfor %}
                
            </div>

            



          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- content close -->
{% endblock %}