{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>


  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cars Pricing</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-cars">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item_filter_group">
            <h4>Vehicle Type</h4>
            <div class="de_form">
              <div class="de_checkbox">
                <input id="vehicle_type_1" name="vehicle_type_1" type="checkbox" value="vehicle_type_1">
                <label for="vehicle_type_1">Car</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_2" name="vehicle_type_2" type="checkbox" value="vehicle_type_2">
                <label for="vehicle_type_2">Van</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox" value="vehicle_type_3">
                <label for="vehicle_type_3">Minibus</label>
              </div>

              <div class="de_checkbox">
                <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox" value="vehicle_type_4">
                <label for="vehicle_type_4">Prestige</label>
              </div>

            </div>
          </div>

         

          <div class="item_filter_group">
            <h4>Car Seats</h4>
            <div class="de_form">

              <div class="de_checkbox">
                <input id="car_seat_2" name="car_seat_2" type="checkbox" value="car_seat_2">
                <label for="car_seat_2">4 seats</label>
              </div>

              <div class="de_checkbox">
                <input id="car_seat_3" name="car_seat_3" type="checkbox" value="car_seat_3">
                <label for="car_seat_3">6 seats</label>
              </div>

              <div class="de_checkbox">
                <input id="car_seat_4" name="car_seat_4" type="checkbox" value="car_seat_4">
                <label for="car_seat_4">6+ seats</label>
              </div>

            </div>
          </div>

          

        </div>

        <div class="col-lg-9">
          <div class="row">

            <div class="col-lg-12">
              {% for x in pricing %}
                <div class="de-item-list mb30">
                  <div class="d-img">
                    <img src="{{ x.image.url }}" class="img-fluid" alt="">
                  </div>
                    
                    
                    <div class="d-info">
                      <div class="d-text">
                        <h5>{{ x.title }}</h5>
                        <h6>{{ x.caption }}</h6>
                        <h5>Name:{{ x.car_name }}</h5>
                        <div class="d-atr-group">
                          <ul class="d-atr">
                            <li>{{ x.description }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    
                      
                  <div class="d-price">
                    Price <span>{{ x.price }} ৳</span>
                    <a class="btn-main" href="car-single.html">Rent Now</a>
                  </div>
                  <div class="clearfix"></div>
                </div> 
              {% endfor %}
                
            </div>

            



          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<!-- content close -->
{% endblock %}