{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

<style>
    .my-error-class {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    #contact_form label.my-error-class {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    #contact_form input.my-error-class {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Register</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->

    <section aria-label="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Don't have an account? Register now.</h3>

                    <div class="spacer-10"></div>

                    {% if normal_error %}
                    <ul class="my-error-class">
                        {% for key, value in normal_error.items %}

                        <li class="">{{ key }}: {{ value }}</li>
                        {% endfor %}

                    </ul>
                    {% endif %}

                    {% if form_error %}
                    <ul class="my-error-class">
                        {% for field, field_errors in form_error.items %}
                        {% for error in field_errors %}
                        <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <form name="contactForm" id='contact_form' enctype="multipart/form-data" class="form-border"
                        method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Name:</label>
                                    <input type='text' name='full_name' id='name' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Email Address:</label>
                                    <input type='text' name='email' id='email' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Enter Phone number (username):</label>
                                    <input type='text' name='username' id='username' class="form-control">
                                </div>
                            </div>

                            <!-- <div class="col-md-6">
                                <div class="field-set">
                                    <label>Phone:</label>
                                    <input type='text' name='phone' class="form-control">
                                </div>
                            </div> -->

                            <!-- 
                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Password:</label>
                                    <input type='text' name='password' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Re-enter Password:</label>
                                    <input type='text' name='password2' class="form-control">
                                </div>
                            </div> -->


                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>NID Number:</label>
                                    <input type='number' name='NID_number' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>NID front image:</label>
                                    <input type='file' name='nid_image_front' class="form-control">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>NID back image:</label>
                                    <input type='file' name='nid_image_back' class="form-control">
                                </div>
                            </div>



                            <div class="col-md-12">
                                <div class="field-set">
                                    <label>Picture:</label>
                                    <input type='file' name='profile_image' class="form-control">
                                </div>
                            </div>



                            <div class="col-md-12 mt-4">

                                <div id='submit' class="pull-left">
                                    <input type='submit' id='send_message' value='Register Now'
                                        class="btn-main color-2">
                                </div>

                                <div id='mail_success' class='success'>Your message has been sent successfully.</div>
                                <div id='mail_fail' class='error'>Sorry, error occured this time sending your message.
                                </div>
                                <div class="clearfix"></div>

                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>



</div>
<!-- content close -->
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        // Add validation rules to your form inputs
        $('#contact_form').validate({
            errorClass: 'my-error-class', // Specify your custom error class name here
            rules: {
                full_name: 'required',
                email: {
                    required: true,
                    email: true
                },
                username: {
                    required: true,
                    digits: true // Ensures that the value is a number
                },
                NID_number: 'required',
                nid_image_front: 'required',
                nid_image_back: 'required',
                profile_image: 'required'
            },
            messages: {
                full_name: 'Please enter your name',
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a valid email address'
                },
                username: {
                    required: 'Please enter your phone number',
                    digits: 'Please enter a valid phone number (numbers only)'
                },
                NID_number: 'Please enter your NID number',
                nid_image_front: 'Please select an NID front image',
                nid_image_back: 'Please select an NID back image',
                profile_image: 'Please select a profile image'
            },
            submitHandler: function (form) {
                // Submit the form if it is valid
                form.submit();
            },
            onfocusout: function (element) {
                this.element(element); // Trigger validation on focus out
            }
        });
    });
</script>



{% endblock script %}