{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

<style>
    #contact_form label.my-error-class {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    #contact_form input.my-error-class {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section subheader begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Test</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section subheader close -->


    <section class="container">


        <form id='filter_form' enctype="multipart/form-data" class="form-border" method="POST"
            action="{% url 'register' %}">
            {% csrf_token %}
            <div class="row">

                <div class="col-md-12">
                    <div class="field-set">
                        <label>Name:</label>
                        <input type='text' name='full_name' id='name' class="form-control">
                    </div>
                </div>


                <label for="to_division">Division:</label>
                <select id="to_division">
                    <option value="">Select Division</option>
                </select>

                <label for="to_district">District:</label>
                <select id="to_district">
                    <option value="">Select District</option>
                </select>

                <label for="to_upazila">Upazila:</label>
                <select id="uto_pazila">
                    <option value="">Select Upazila</option>
                </select>


                <label for="from_division">Division:</label>
                <select id="from_division">
                    <option value="">Select Division</option>
                </select>

                <label for="from_district">District:</label>
                <select id="from_district">
                    <option value="">Select District</option>
                </select>

                <label for="from_upazila">Upazila:</label>
                <select id="from_upazila">
                    <option value="">Select Upazila</option>
                </select>



                <div class="col-md-12">
                    <div class="field-set">
                        <label>NID Number:</label>
                        <input type='number' name='NID_number' class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="field-set">

                        <input type='number' name='NID_number' class="form-control">

                        <label for="from_upazila">Upazila:</label>
                        <select id="from_upazila" class="form-control">
                            <option value="">Select Upazila</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="field-set">
                        <label>NID Number:</label>
                        <input type='number' name='NID_number' class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="field-set">
                        <label>NID front image:</label>
                        <input type='file' name='nid_image_front' class="form-control">
                    </div>
                </div>



                <div class="col-md-12 mt-4">

                    <div id='submit' class="pull-left">
                        <input type='submit' id='send_message' value='Register Now' class="btn-main color-2">
                    </div>

                    <div class="clearfix"></div>

                </div>

            </div>
        </form>

    </section>











</div>
<!-- content close -->



{% endblock %}



{% block script %}




{% endblock script %}