{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/Prado.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Our Clients</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->



    <!-- content begin -->
    <div class="no-bottom no-top zebra" id="content">

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" de-icon-box mt-3 mb-3">
                            <div class="d-flex justify-content-center"><i class="fa fa-arrows-alt de-icon mb20"></i>
                            </div>
                            <h4 class="text-center">Responsive Layouts</h4>
                            <p class="mb-3 text-center">Aliquip consequat excepteur non dolor irure ad irure labore ex eiusmod est duis culpa ex ut minim ut ea.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" de-icon-box mt-3 mb-3">
                            <div class="d-flex justify-content-center"><i class="fa fa-microchip de-icon d-circle mb20"></i>
                            </div>
                            <h4 class="text-center">Solid Framework</h4>
                            <p class="mb-3">Aliquip consequat excepteur non dolor irure ad irure labore ex eiusmod est duis culpa ex ut minim ut ea.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" de-icon-box mt-3 mb-3">
                            <div class="d-flex justify-content-center"><i class="fa fa-trophy de-icon mb20"></i>
                            </div>
                            <h4 class="text-center">Top Selling Product</h4>
                            <p class="mb-3">Aliquip consequat excepteur non dolor irure ad irure labore ex eiusmod est duis culpa ex ut minim ut ea.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" de-icon-box mt-3 mb-3">
                            <div class="d-flex justify-content-center"><i class="fa fa-trophy de-icon mb20"></i>
                            </div>
                            <h4 class="text-center">Top Selling Product</h4>
                            <p class="mb-3">Aliquip consequat excepteur non dolor irure ad irure labore ex eiusmod est duis culpa ex ut minim ut ea.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" de-icon-box mt-3 mb-3 ">
                            <div class="d-flex justify-content-center"><i class="fa fa-trophy de-icon mb20"></i>
                            </div>
                            <h4 class="text-center">Top Selling Product</h4>
                            <p class="mb-3">Aliquip consequat excepteur non dolor irure ad irure labore ex eiusmod est duis culpa ex ut minim ut ea.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        
    </div>
    <!-- content close -->




</div>
<!-- content close -->
{% endblock %}