{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Our Cars</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->





    <section id="section-car-details">
        
        {% for x in pricing %}
        <div class="container border-shadow-primary p-4 pb-2 mb-3" >
            <div class="row g-5">
                <div class="col-lg-5 ">
                     <div class="car-img">
                        <img src="{{ x.image.url }}" alt="">
                    </div>
 
                </div>

                <div class="col-lg-3">
                    <h3>{{ x.car_name }}</h3>
                    <h4>Features</h4>
                    <ul class="ul-style-2">
                        <li>Bluetooth</li>
                        <li>Multimedia Player</li>
                        <li>Central Lock</li>

                    </ul>
                    <p>{{ x.description }}</p>
                </div>

                <div class="col-lg-3">
                    <div class="de-price text-center">
                         rate
                        <h3>{{ x.price }} ৳</h3>
                    </div>
                    <div class="spacer-30"></div>
                   
                </div>                
            </div>
        </div>
        {% endfor %}

    </section>



</div>
<!-- content close -->
{% endblock %}