{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/Prado.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Privacy Policy</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->

    <section>
        <div class="container">
            <div class="row">
                <div>
                    <p>
<samp><h4>Privacy Policy</h4></samp>
GARIVARA.com.bd is committed to respecting and safeguarding your privacy in accordance to the data protection laws and thus takes great care to ensure the protection of any personal data collected from you on this website. Understanding the responsibility towards the data collected, we make sure the information, if, used is solely for legitimate business purposes.

Read the following privacy policy carefully to understand the basis on which the personal data collected is used, by us at this website. <br> <br>

<samp><h4>Booking Information</h4></samp>
When you make bookings with us, you need to provide us with basic details including your full name, residential address, your contact number as well as credit/debit type along with its expiry date. To process the booking, we also require you to provide the driver's age. As a car hire booking agent, GARIVARA.com.bd passes your given booking information (name, mobile number and pick-drop location) to our car rental suppliers/vehicle drivers so that they can communicate with you easily and timely.

Cookies
In order to serve you with better service, GARIVARA.com.bd web site makes limited use of cookies. However, we make sure we don't store any of your credit card or personal information in these cookies. They contain some basic information about your visit (such as country you selected etc.) or a session id number. <br>

 
<samp><h4>Secure Transactions</h4></samp>
GARIVARA.com.bd is committed to make sure that the details provided in making a booking is kept secure. We make use of Secure Socket Layer or SSL technology as a standard process, to secure the information. This technology encrypts all the personal details including your credit card information given by you, in such a way that it cannot be misused or read as it's passed on internet. After the completion of the transaction, your given information is secured on the computer and not server, to ensure that it's safe and cannot be accessed via internet.

Promotional updates by Email/SMS
You can also subscribe to special offers and services to receive emails/sms from us informing you of new services or promotions, offered by us. You can choose to unsubscribe this service anytime you wish by simply clicking on the unsubscribe link, given in the emails received by you. Besides if you do not want to get any sms relating our new promotions please let us know at your earliest. By using services of a data mailing provider, we facilitate dispatch of such promotional updates and e-mails/sms to you. We make sure that the provider maintains the confidentiality of your personal information confidential all the times.

Competitions and promotions
Now and then, we run promotions and competitions, we request your name, e-mail address and residential address so as to manage and inform the winner. This information is solely used for the purpose of informing you regarding these promotions, unless you seek to receive further information related to marketing. In order to develop our customer profile, we may ask you for recommendations, subject related opinion and information. Results of these competitions might get published online, but details like your name or note by you will not be published without your consent.

Phone call recording
For purpose of improving our services, we used to record all phone calls that made to us.

Site tracking
We make use of site tracking software to keep a check on visitors coming to our site as well as to improve design and content of our site. This software uses a cookie system to capture and measure such details as site usage patterns and page views. Cookies are text files sent to your browser and stored on your computer's hard drive. In order to receive or block cookies, you can set your browser settings accordingly.

Third party disclosure
GARIVARA.com.bd does not reveal it's your personal information to any third party without any prior consent from you, except in emergency situations or if or when we are lawfully obliged to do. We do not sell or hire any personally identifiable details received by us from you.
GARIVARA.com.bd might supply statistics about you, sales along with booking patterns as well as third party related information, but it will not enclose any personal information.

Customer consent
By making use of this web site you assent to the compilation, storage as well as utilization of this information by GARIVARA.com.bd as specified in our privacy policy. In case of any change in our privacy policy, the changes get posted on the page of privacy policy to keep you informed about information collected and used by us and under what circumstances.
                    </p>
                </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->
{% endblock %}