{% extends 'main/layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>


    <!--subheader section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Terms & Conditions</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader section close -->

    <section>
        <div class="container">
            <div class="mb-5">
                <h2>Terms & <samp style="color: #4BAE4E;">Conditions</samp></h2>
                <div class="row">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion accordion-flush border-shadow-primary" id="accordionFlushExample">
                            <div class=" accordion-item border-shadow-primary">
                            <h2 class="accordion-header" id="flush-headingR">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseR" aria-expanded="false" aria-controls="flush-collapseR">
                                  Terms & Conditions
                                </button>
                            </h2>
                            <div id="flush-collapseR" class="accordion-collapse collapse" aria-labelledby="flush-headingR" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">The Terms and Conditions given here, along with Terms and Conditions of Use of our web site and privacy policy comprise of our contract with you, as the renter, with Dhaka car rental as the facilitator, for the deals and services we provide in organizing for your car rental. These Terms and Conditions apply to all deals for the provision of our facilities and services, to the elimination of other Terms and Conditions. No manner or conduct of and by Dhaka car rental shall be considered to represent approval and acceptance of any other terms. Acceptance of these services, facilities, or signature on any contract shall be considered as conclusive conformation of your acceptance of these Conditions.

                                  These Terms and Conditions might be changed from time to time by Dhaka car rental and the renter, you, must check our site to keep a check on any modifications or changes to the terms and conditions applying on you. Any type of car hire service used by you is subjected to the terms and conditions of car hire service enforced by the supplier or car hire supplier, along with laws of the corresponding country or state at which the car hire takes place in.
                                  
                                  Our suppliers, with us as facilitator, will provide car to you, the renter. Any booking made by you through this website is liable to these Terms and Conditions and your acceptance to the terms and conditions of the supplier, of which car hire service is booked by you through this website, so make sure you are aware of all the contents regarding the same.
                                  
                                  Any booking made on this website by you, renter, depends upon your provision of accepting Terms offered by us. In case you do not approve any part of our Terms, you must not continue with your booking with us. By making any booking with this website, you indicate or confirm that you have gone through the relevant Terms and accept them. For any Term that you do not understand or wish to enquire about, contact us at via email or call us to our hotlines
                                  
                                  We, the car rental service facilitator, will notify you, the renter, about the availability of the requested vehicle by emailing a booking confirmation voucher if your offer has been accepted. In situation, where the car type or car model booked by you is not available with our supplier/suppliers, we will be informing you with possible alternatives which if acceptable by you, the renter, shall be incorporated in your current booking by modifying it and will be resend to the supplier for consideration. If not accepted, we hold the right to cancel the booking and refund your deposit within three working days, if any, with us.
                                  
                                  This implies that even though we cannot confirm you regarding the availability of your requested vehicle, we will use our reasonable endeavors to find it for you and will inform you of the outcome within 48 hours of your request.
                                  
                                  Please note that you, the renter, will not have any contract for car rental at the price offered until your booking has been confirmed and the necessary payment has been received. If you have any questions, please feel free to contact us. Please note that any contract entered into will be with the individual actually booking the vehicle and all correspondence will be sent to that address given, even where a third party actually pays for the hire.
                                  
                                  If you, the renter carry any illegal arms, drug or alcohol and any other forbidden goods in the rental vehicle,Dhaka car rental and the vehicle driver should not be held responsible. You, as the car renter, will take full liability in respect of such claims or situations.</div>
                            </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h3><Samp style="color: #4BAE4E;">Important</Samp> Note</h3>
            <div class="row">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class=" accordion-item border-shadow-primary">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Contract Terms with dhakacarrental.com
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">If you choose to rent with Dhaka car rental, it is important that you comprehend how and when a deal is formed. Following are the technical steps that form a contract:

                          By quoting prices or placing our services on our website, we are asking you to make a purchasing offer. You make either an offer to purchase by clicking on 'Book Now'. Dhaka car rental accepts this offer upon receiving desired payment from you, the renter. Dhaka car rental only serves as a facilitator to make arrangements for your car rental booking with its respective supplier base. The total rental amount includes supplier's rental amount,Dhaka car rental service charge and taxes.</div>
                      </div>
                    </div>
                    <div class=" accordion-item border-shadow-primary">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          If We Make Changes to Your Booking
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Sometimes your car rental supplier or we can make changes to your rental booking, in such cases; we will advise or inform you as soon as possible. If any such changes are not acceptable by you, you will be refunded the deposit amount made at Dhaka car rental. However, in any such situation, we hold no extra liability in terms of any direct or indirect loss suffered by you as a consequence of such changes.

                          Dhaka car rental reserves the right to terminate the contract at any point of time by duly informing the customer along with the reason which can be, but not limited to, technical / system error or due to any unforeseen circumstances.</div>
                      </div>
                    </div>
                    <div class=" accordion-item border-shadow-primary">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Documentation
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">While making a booking, you should provide us with all the necessary details such as flight number, local address and phone number, as well as the arrival time at the time of booking. Once the booking is accepted, you will receive your rental voucher within 4 hours of your booking request.</div>
                      </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


</div>
<!-- content close -->
{% endblock %}