{% extends 'layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Services</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->


    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row justify-content-md-center">




                <div class="col-md-10">
                    <h3 class="text-center">OUR SERVICES</h3>
                    <div class="spacer30"></div>

                    <div class="row justify-content-md-center">
                        <div class="col-md-3 ">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">


                                <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                                    aria-selected="true">Airport Transfer</button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-profile" type="button" role="tab"
                                    aria-controls="v-pills-profile" aria-selected="false">Hourly Car Rental</button>
                                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-messages" type="button" role="tab"
                                    aria-controls="v-pills-messages" aria-selected="false">Daily Basis Rent A Car -
                                    Inside Dhaka</button>
                                <button class="nav-link" id="v-pills-settings12-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings12" type="button" role="tab"
                                    aria-controls="v-pills-settings12" aria-selected="false">Daily Basis Rent A Car -
                                    Outside Dhaka</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Monthly Car Rental</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Office Pick &amp;
                                    Drop</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Inter District
                                    Pick&amp;Drop</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Rent A Car in Sylhet</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Rent A Car in
                                    Chittagong</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Rent A Car in Cox's
                                    Bazar</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Rent A Car in Sajek
                                    Khagrachari</button>
                                <button class="nav-link" id="v-pills-settings1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-settings" type="button" role="tab"
                                    aria-controls="v-pills-settings" aria-selected="false">Tour Package</button>






                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">

                                    <div class="de-post-type-1"
                                        style="background-size: 100%; background-repeat: no-repeat;">

                                        <div class="d-content"
                                            style="background-size: 100%; background-repeat: no-repeat;">

                                            <!-- <a href="news-single.html" class="btn-main">Check Our Price Plan</a> -->

                                            <div class="de-item border-shadow-primary">
                                                <div class="d-img"
                                                    style="margin-bottom: 15px;background-size: 100%; background-repeat: no-repeat;">
                                                    <img src="/static/images/cars/bmw-m5.jpg" class="img-fluid" alt="">
                                                </div>
                                                <h4><a href="news-single.html">Airport Transfer Travel
                                                        Experience<span></span></a></h4>

                                                <div class="d-meta"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <span class="d-by">Standard </span>
                                                    <span class="d-date">Sedan Car</span>
                                                    <span class="d-tags">10 Hours</span>
                                                </div>

                                                <p>Ex ut dolore laboris pariatur voluptate reprehenderit qui dolore
                                                    officia
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit
                                                    sunt. Qui
                                                    minim sit magna Lorem id et dolore velit Lorem amet exercitation
                                                    duis
                                                    deserunt.
                                                    Anim id labore elit adipisicing ut in id occaecat pariatur ut
                                                    ullamco ea
                                                    tempor
                                                    duis
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                </p>
                                                <a href="news-single.html" class="btn-main">Check Our Price Plan</a>

                                            </div>





                                        </div>
                                    </div>





                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                    <div class="de-post-type-1"
                                        style="background-size: 100%; background-repeat: no-repeat;">
                                        <div class="d-content"
                                            style="background-size: 100%; background-repeat: no-repeat;">
                                            <div class="de-item border-shadow-primary">
                                                <div class="d-img"
                                                    style="margin-bottom: 15px;background-size: 100%; background-repeat: no-repeat;">
                                                    <img src="/static/images/cars/jeep-renegade.jpg" class="img-fluid"
                                                        alt="">
                                                </div>
                                                <h4><a href="news-single.html">Hourly Car Rental Travel
                                                        Experience<span></span></a></h4>

                                                <div class="d-meta"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <span class="d-by">Premium </span>
                                                    <span class="d-date">Sedan Car</span>
                                                    <span class="d-tags">7 Hours</span>
                                                </div>
                                                <!-- <div class="d-image"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <img alt="" src="{% static 'images/news-2/pic-blog-1.jpg' %}"
                                                        class="lazy">
                                                </div> -->
                                                <p>Ex ut dolore laboris pariatur voluptate reprehenderit qui dolore
                                                    officia
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit
                                                    sunt. Qui
                                                    minim sit magna Lorem id et dolore velit Lorem amet exercitation
                                                    duis
                                                    deserunt.
                                                    Anim id labore elit adipisicing ut in id occaecat pariatur ut
                                                    ullamco ea
                                                    tempor
                                                    duis
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                </p>
                                                <a href="news-single.html" class="btn-main">Check Our Price Plan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <div class="de-post-type-1"
                                        style="background-size: 100%; background-repeat: no-repeat;">
                                        <div class="d-content"
                                            style="background-size: 100%; background-repeat: no-repeat;">
                                            <div class="de-item border-shadow-primary">
                                                <div class="d-img"
                                                    style="margin-bottom: 15px;background-size: 100%; background-repeat: no-repeat;">
                                                    <img src="/static/images/cars/ferrari-enzo.jpg" class="img-fluid"
                                                        alt="">
                                                </div>
                                                <h4><a href="news-single.html">Daily Basis Rent A Car -
                                                        Inside Dhaka<span></span></a></h4>

                                                <div class="d-meta"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <span class="d-by">Standard </span>
                                                    <span class="d-date">Sedan Car</span>
                                                    <span class="d-tags">10 Hours</span>
                                                </div>
                                                <!-- <div class="d-image"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <img alt="" src="{% static 'images/news-2/pic-blog-1.jpg' %}"
                                                        class="lazy">
                                                </div> -->
                                                <p>Ex ut dolore laboris pariatur voluptate reprehenderit qui dolore
                                                    officia
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit
                                                    sunt. Qui
                                                    minim sit magna Lorem id et dolore velit Lorem amet exercitation
                                                    duis
                                                    deserunt.
                                                    Anim id labore elit adipisicing ut in id occaecat pariatur ut
                                                    ullamco ea
                                                    tempor duis
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                </p>
                                                <a href="news-single.html" class="btn-main">Check Our Price Plan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings12" role="tabpanel"
                                    aria-labelledby="v-pills-settings12-tab">
                                    <div class="de-post-type-1"
                                        style="background-size: 100%; background-repeat: no-repeat;">
                                        <div class="d-content"
                                            style="background-size: 100%; background-repeat: no-repeat;">
                                            <div class="de-item border-shadow-primary">
                                                <div class="d-img"
                                                    style="margin-bottom: 15px;background-size: 100%; background-repeat: no-repeat;">
                                                    <img src="/static/images/cars/jeep-renegade.jpg" class="img-fluid"
                                                        alt="">
                                                </div>
                                                <h4><a href="news-single.html">Daily Basis Rent A Car -
                                                        Outside Dhaka<span></span></a></h4>

                                                <div class="d-meta"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <span class="d-by">Hiace</span>
                                                    <span class="d-date">Micro Bus-</span>
                                                    <span class="d-tags">10 Hours</span>
                                                </div>
                                                <!-- <div class="d-image"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <img alt="" src="{% static 'images/news-2/pic-blog-1.jpg' %}"
                                                        class="lazy">
                                                </div> -->
                                                <p>Ex ut dolore laboris pariatur voluptate reprehenderit qui dolore
                                                    officia
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit
                                                    sunt. Qui
                                                    minim sit magna Lorem id et dolore velit Lorem amet exercitation
                                                    duis
                                                    deserunt.
                                                    Anim id labore elit adipisicing ut in id occaecat pariatur ut
                                                    ullamco ea
                                                    tempor
                                                    duis
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.</p>
                                                <a href="news-single.html" class="btn-main">Check Our Price Plan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-settings1" role="tabpanel"
                                    aria-labelledby="v-pills-settings1-tab">
                                    <div class="de-post-type-1"
                                        style="background-size: 100%; background-repeat: no-repeat;">
                                        <div class="d-content"
                                            style="background-size: 100%; background-repeat: no-repeat;">
                                            <div class="de-item border-shadow-primary">
                                                <div class="d-img"
                                                    style="margin-bottom: 15px;background-size: 100%; background-repeat: no-repeat;">
                                                    <img src="/static/images/cars/jeep-renegade.jpg" class="img-fluid"
                                                        alt="">
                                                </div>
                                                <h4><a href="news-single.html">Daily Basis Rent A Car -
                                                        Outside Dhaka<span></span></a></h4>

                                                <div class="d-meta"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <span class="d-by">Hiace</span>
                                                    <span class="d-date">Micro Bus-</span>
                                                    <span class="d-tags">10 Hours</span>
                                                </div>
                                                <!-- <div class="d-image"
                                                    style="background-size: 100%; background-repeat: no-repeat;">
                                                    <img alt="" src="{% static 'images/news-2/pic-blog-1.jpg' %}"
                                                        class="lazy">
                                                </div> -->
                                                <p>Ex ut dolore laboris pariatur voluptate reprehenderit qui dolore
                                                    officia
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.
                                                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit
                                                    sunt. Qui
                                                    minim sit magna Lorem id et dolore velit Lorem amet exercitation
                                                    duis
                                                    deserunt.
                                                    Anim id labore elit adipisicing ut in id occaecat pariatur ut
                                                    ullamco ea
                                                    tempor
                                                    duis
                                                    voluptate est nulla incididunt in tempor aliqua incididunt cupidatat
                                                    ut
                                                    cupidatat qui consectetur cillum id labore sunt id sint magna
                                                    exercitation enim.Aute sunt incididunt amet commodo est sint nisi
                                                    deserunt pariatur do.</p>
                                                <a href="news-single.html" class="btn-main">Check Our Price Plan</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>

                <div class="spacer-single"></div>




            </div>
        </div>
    </section>
    <!-- section close -->


    <section class="text-light jarallax" aria-label="section"
        style="z-index: 0; background-size: 100%; background-repeat: no-repeat;">

        <div class="container" style="background-size: 100%; background-repeat: no-repeat;">
            <div class="row" style="background-size: 100%; background-repeat: no-repeat;">
                <div class="col-lg-12 text-light" style="background-size: 100%; background-repeat: no-repeat;">
                    <div class="container-timeline" style="background-size: 100%; background-repeat: no-repeat;">
                        <ul>
                            <li>
                                <h4>Choose a vehicle</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore</p>
                            </li>
                            <li>
                                <h4>Pick location &amp; date</h4>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                    dolore eu fugiat nulla</p>
                            </li>
                            <li>
                                <h4>Make a booking</h4>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo</p>
                            </li>
                            <li>
                                <h4>Sit back &amp; relax</h4>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="jarallax-container-2"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%); background-size: 100%; background-repeat: no-repeat;">
            <img src="{% static '/images/background/3.jpg' %}" alt="" class="jarallax-img"
                style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1349px; height: 407px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -4px; transform: translate3d(0px, -105.359px, 0px);">
        </div>
    </section>





</div>
<!-- content close -->




{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the query parameter value
        var queryParams = new URLSearchParams(window.location.search);
        var activeTab = queryParams.get('tab');

        // Activate the tab based on the query parameter or default to "v-pills-home-tab"
        var tabs = document.querySelectorAll('.nav-link');
        var tabActivated = false;

        tabs.forEach(function (tab) {
            var tabId = tab.getAttribute('id');
            var tabContentId = tab.getAttribute('data-bs-target').replace('#', '');

            if (tabId === activeTab) {
                tab.classList.add('active');
                var tabContent = document.getElementById(tabContentId);
                if (tabContent) {
                    tabContent.classList.add('show', 'active');
                }
                tabActivated = true;
            } else {
                tab.classList.remove('active');
                var tabContent = document.getElementById(tabContentId);
                if (tabContent) {
                    tabContent.classList.remove('show', 'active');
                }
            }
        });

        if (!tabActivated) {
            var defaultTab = document.getElementById('v-pills-home-tab');
            var defaultTabContent = document.getElementById('v-pills-home');
            if (defaultTab && defaultTabContent) {
                defaultTab.classList.add('active');
                defaultTabContent.classList.add('show', 'active');
            }
        }
    });


</script>


{% endblock script %}