{% extends 'layouts/base.html' %}
{% load static %}


{% block style %}

{% endblock style %}

{% block content %}


<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section subheader begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="{% static 'images/background/subheader.jpg' %}" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Test</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section subheader close -->


    <!-- section begin -->

    <section id="section-hero" aria-label="section" class="full-height vertical-center"
        data-bgimage="url({% static 'images/background/7.jpg' %}) bottom">
        <div id="items-carousel-hero" class="owl-carousel ">
            <div class="container">

                <div class="row align-items-center">
                    <div class="spacer-double sm-hide"></div>
                    <div class="col-lg-6 ">
                        <h4><span class="id-color wow fadeInRight animated">Plan your trip now</span></h4>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn-main wow fadeInRight animated" href="#">Order a Car</a>&nbsp;&nbsp;&nbsp;<a
                            class="btn-main btn-black" href="#">Get the
                            App</a>
                    </div>

                    <div class="col-lg-6">
                        <img src="{% static 'images/misc/car-2.png' %}" class="img-fluid wow fadeInRight animated"
                            alt="">
                    </div>

                </div>


            </div>

            <div class="container">

                <div class="row align-items-center">
                    <div class="spacer-double sm-hide"></div>
                    <div class="col-lg-6 ">
                        <h4><span class="id-color wow fadeInRight animated">Plan your trip now</span></h4>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn-main wow fadeInRight animated" href="#">Order a Car</a>&nbsp;&nbsp;&nbsp;<a
                            class="btn-main btn-black" href="#">Get the
                            App</a>
                    </div>

                    <div class="col-lg-6">
                        <img src="{% static 'images/misc/car-2.png' %}" class="img-fluid wow fadeInRight animated"
                            alt="">
                    </div>

                </div>


            </div>


            <div class="container">

                <div class="row align-items-center">
                    <div class="spacer-double sm-hide"></div>
                    <div class="col-lg-6 ">
                        <h4><span class="id-color wow fadeInRight animated">Plan your trip now</span></h4>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <a class="btn-main wow fadeInRight animated" href="#">Order a Car</a>&nbsp;&nbsp;&nbsp;<a
                            class="btn-main btn-black" href="#">Get the
                            App</a>
                    </div>

                    <div class="col-lg-6">
                        <img src="{% static 'images/misc/car-2.png' %}" class="img-fluid wow fadeInRight animated"
                            alt="">
                    </div>

                </div>


            </div>
        </div>


    </section>

    <!-- section close -->

    <!-- seciton start -->


    <section id="section-hero" aria-label="section" class="jarallax text-light full-height vertical-center">
        <img src="{% static 'images/background/6.jpg' %}" class="jarallax-img" alt="">

        <div class="owl-carousel wow fadeIn">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="spacer-double"></div>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-trophy"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">First class services</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-road"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">24/7 road assistance</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                        </div>

                        <a class="btn-main btn-main" href="#">Choose a Car</a>


                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="spacer-double"></div>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-trophy"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">First class services</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-road"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">24/7 road assistance</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                        </div>

                        <a class="btn-main btn-main" href="#">Choose a Car</a>


                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="spacer-double"></div>
                        <div class="spacer-10"></div>
                        <h1>Explore the world with comfortable car</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.</p>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-trophy"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">First class services</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="box-icon s2 p-small mb20">
                                    <i class="fa bg-color fa-road"></i>
                                    <div class="d-inner">
                                        <h4 class="id-color">24/7 road assistance</h4>
                                        Est dolore ut laboris eu enim eu veniam nostrud esse laborum duis
                                    </div>
                                </div>
                            </div>

                        </div>

                        <a class="btn-main btn-main" href="#">Choose a Car</a>


                    </div>

                </div>
            </div>

        </div>

    </section>

    <!-- section close -->







</div>
<!-- content close -->



{% endblock %}



{% block script %}
<script>
    (function ($) {
        'use strict';
        let owl = jQuery("#items-carousel-hero").owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            center: false,
            items: 1,
            rewind: true,
            margin: 25,
            nav: true,
            thumbs: false,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            dots: false,
            autoplayTimeout: 6000, // Set the slide time to 5 seconds (5000 milliseconds)
            autoplaySpeed: 1000, // Set the slide transition time to 3 seconds (3000 milliseconds)

        });

        owl.on('change.owl.carousel', function (event) {
            var el = event.target;
            $('h1', el).addClass('slideInRight animated delay-2')
                .one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    $('h1', el).removeClass('slideInRight animated delay-2');
                });
        });


    })(jQuery);

</script>


{% endblock script %}